<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      body {
        font-family: "Arial", sans-serif;
        background-color: #ffd2d2;
        color: #c30b0b;
        text-align: center;
        padding: 50px;
      }

      h1 {
        color: #c30b0b;
      }

      p {
        font-size: 18px;
        margin-bottom: 20px;
      }

      img {
        width: 200px;
        border-radius: 50%;
        margin-bottom: 20px;
      }

      a {
        color: #155724;
        text-decoration: none;
        font-weight: bold;
      }

      a:hover {
        text-decoration: underline;
      }
    </style>
    <title>Error</title>
  </head>
  <body>
    <h1>Oops! Something went wrong.</h1>
    <img src="https://placekitten.com/200/200" alt="Sad Kitten" />
    <p>We're sorry, but an unexpected error occurred.</p>
    <p>Please <a href="/students">go back to the homepage</a> and try again.</p>
  </body>
</html>
